<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>sheetlyy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/Sortable.min.js"></script>
  </head>
  <body>
    <main id="main-content">
      <div id="form-container">
        <h1>🎶 sheetlyy</h1>
        <p id="subtitle">convert sheet music images to musicxml</p>
        {% include 'upload_form.html' %}
      </div>
    </main>
  </body>
</html>
