<div id="reorder-form-container">
  <form
    id="reorder-form"
    hx-post="/submit/{{ upload_id }}"
    hx-swap="outerHTML"
    hx-target="#reorder-form-container"
  >
    <div id="reorder-area" class="content-area sortable">
      {% for file in files %}
      <div class="file-draggable">
        <input type="hidden" name="file" value="{{ file.file_id }}" />
        <img
          src="data:{{ file.content_type }};base64,{{ file.thumbnail_b64 }}"
          class="file-thumbnail"
        />
        <p class="file-name">{{ file.filename }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="submit-area">
      <span class="htmx-indicator spinner-loader"></span>
      <button form="reorder-form" type="submit">submit</button>
    </div>
  </form>

  <script>
    htmx.onLoad(function (content) {
      let sortables = content.querySelectorAll(".sortable");
      for (let sortable of sortables) {
        let sortableInstance = new Sortable(sortable, {
          animation: 150,
          draggable: ".file-draggable",
        });
      }
    });
  </script>
</div>
